In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
train = pd.read_csv('data.csv')
train = train.drop(columns=['basket'])
train.head()

   returnLabel  totalAmount  transactionId  zipCode
0            0          210     4177614910     3615
1            0          102     2773356824     3846
2            0          408     7497870913     6898
3            0          295     9373529286     1321
4            0           10     7214034283     1533

In [3]:
train_one_hot = pd.get_dummies(train["zipCode"])
train_one_hot.head()

,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,...,9990,9991,9992,9993,9994,9995,9996,9998,9999,10000
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Concat train and train_one_hot
train_new = pd.concat([train.drop(columns=["zipCode"]), train_one_hot], axis=1)
train_new.head()

,returnLabel,totalAmount,transactionId,1000,1001,1002,1003,1004,1005,1006,...,9990,9991,9992,9993,9994,9995,9996,9998,9999,10000
0,0,210,4177614910,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,102,2773356824,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,408,7497870913,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,295,9373529286,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,10,7214034283,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
from sklearn.model_selection import train_test_split

y = train_new['returnLabel'].values
X_train, X_test, y_train, y_test = train_test_split(train_new, y, test_size=0.30,random_state=101)

In [6]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)
predictions = logmodel.predict(X_test)

from sklearn.metrics import classification_report, accuracy_score
print(classification_report(y_test,predictions))
print("Accuracy:", accuracy_score(y_test, predictions))

D:\Programme\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

              precision    recall  f1-score   support

           0       0.97      1.00      0.98      9006
           1       0.00      0.00      0.00       294

   micro avg       0.97      0.97      0.97      9300
   macro avg       0.48      0.50      0.49      9300
weighted avg       0.94      0.97      0.95      9300

Accuracy: 0.9683870967741935

D:\Programme\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
D:\Programme\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
D:\Programme\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)